body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    font-size: inherit;
}

.flex-row-spring {
    flex-grow: 1;
}

/* 导航栏 */
.header {
    position: fixed;
    background-color: #EEE;
    border-bottom: #0369CF 0.25em solid;
    font-size: 24pt;
}


.header-item {
    padding: 0.8em 1.2em;
    margin-bottom: -0.25em;
    background-color: #EEE;
    border-bottom: #0369CF 0.25em solid;
    transition: background-color 0.5s ease, border-color 0.25s ease;
}

.header-item:hover {
    background-color: #FFF;
    border-color: #3096FC;
}

/* 内容 */
.content-container {
    margin: 8em 4em;
}

h1 {
    border-left: #0369CF 0.4em solid;
    padding-left: 0.6em;
}

#div-profile_block {
    text-align: center;
}

.profile {
    max-width: 144pt;
    object-fit: cover;
}


/* 发表列表样式 */
.publication-list {
    counter-reset: list-item; /* 初始化计数器 */
    list-style-type: none; /* 移除默认的列表样式 */
}

.publication-list li {
    counter-increment: list-item;
    margin: 0.5em 0em;
}

.publication-list li::marker {
    content: "["counter(list-item)"] ";
}

li a {
    color: #3096FC;
}

.preparing-item {
    color: gray;
}
