#div-lang::before { content: "汉 ⇄ En"; }
#div-HOME::before { content: "主页"; }
#div-CV::before { content: "简历"; }
#div-PUBLICATION::before { content: "发表"; }

#h1-NAME::before { content: "陈奕宏，Yihong Chen"; }
#p-affiliation::before { content: "清华大学数学科学系"; }
#p-address::before { content: "中国，北京市，海淀区，10084"; }
#p-email::before { content: "邮箱："; }

#h1-self_intro::before { content: "自我介绍"; }
#p-self_intro::before { content: "我是清华大学数学科学系的博士研究生，我的研究方向是动理学方程的模型约化与数值求解。目前我的工作包括：（1）提出了一种离散速度方向模型从而可以系统地将求解一维动理学方程的方法推广到高维；（2）提出了一种全新的基于Poisson核的扩展积分矩方法。"; }

#h1-publication_list::before { content: "发表清单"; }